* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 15px 25px rgba(22, 22, 22, 0.712);
}

.container p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 100;
  color: #97adca;
}

.container h1 {
  color: hsl(0, 0%, 100%);
  font-size: 26px;
  margin: 15px 0;
}

.container h1:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.nft-img {
  position: relative;
  display: inline-block;
  overflow: hidden;;
}

.nft-img img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  height: auto;
  display: block;
  transition: opacity 0.4s ease;
  z-index: -2;
}

.nft-img img:hover {
  border: none;
  cursor: pointer;
}

.overlay-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 1;
}

.overlay-icon img {
  width: 50px;
  height: 50px;
}

.bg-icon {
  background-color: rgba(0, 255, 247, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 310px;
  border-radius: 12px;
  margin-bottom: 15px;
}
.nft-img:hover .overlay-icon {
  opacity: 1;
}

.group-info {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.item-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}

#eth {
  color: hsl(178, 100%, 50%);
}

.custom-hr hr {
  border: none;
  border-top: 1px solid hsl(215, 32%, 27%);
  margin-bottom: 15px;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

.avatar img {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
}

.name-creation {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.name-creation p {
  color: #8bacda;
  margin: 0;
  font-size: 18px;
}

.name-creation span {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.name-creation span:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
