* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 350px;
    height: auto;
    text-align: center;
}

.container img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.descricao h2 {
    font-size: 1.5rem;
    color: hsl(218, 44%, 22%);
    margin-bottom: 15px;
}

.descricao p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: hsl(220, 15%, 55%);
}